
<mat-card>
    <div *ngIf="loadingState == 'complete'  && main_members && main_members.length == 0" class="-y-sm">
      <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
        <div fxFlex="100">
          <mat-card style="margin-top: 30px" class="line-top">
            <mat-card-title class="mat-card-title-alt" fxLayout="row" fxLayoutAlign="center">
              <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-between">            
                  <div class="btn-group" role="group" style="margin-right: 10px;"><a class="btn btn-md btn-dark" *ngIf="isConsultant()" (click)="navigateToMainMemberAddForm()">Add Member</a></div>
                  <div class="btn-group" role="group" style="margin-right: 10px;"><a class="btn btn-md btn-dark" href="{{getExcel()}}" target="_blank">Export to Excel</a></div>
                  <div class="btn-group" role="group" style="margin-right: 10px;" *ngIf="!parlour.number_of_sms">
                    <button class="btn btn-md btn-dark" data-bs-toggle="modal" data-bs-target="#sendSMSModal" matTooltip="You do not have any SMSes left"
                    aria-label="You do not have any SMSes left" disabled>Send SMS</button>
                  </div>
                  <div class="btn-group" role="group" style="margin-right: 10px;" *ngIf="parlour.number_of_sms > 0">
                    <button class="btn btn-md btn-dark" data-bs-toggle="modal" data-bs-target="#sendSMSModal">Send SMS</button>
                  </div>
                  <div class="btn-group" role="group" style="margin-right: 10px;">
                    <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Payment Status
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <li><a class="dropdown-item" (click)="getByPaymentPaid()">Paid</a></li>
                      <li><a class="dropdown-item" (click)="getByPaymentUnpaid()">Unpaid</a></li>
                      <li><a class="dropdown-item" (click)="getByPaymentSkipped()">Skipped</a></li>
                    </ul>
                  </div>
                  <div *ngIf="isParlour()" class="btn-group" role="group">
                    <button id="btnGroupDrop2" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Perfomance
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                      <li>{{permission}}
                        <ul>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#parlourPerformanceModal">{{ parlour.parlour_name }}</a></li>
                        </ul>
                      </li>
                      <li>Consultants
                        <ul>
                          <li *ngFor="let consultant of consultants"><a class="dropdown-item" (click)="setConsultant(consultant)" data-bs-toggle="modal" data-bs-target="#consultantPerformanceModal" >{{ consultant.first_name }} {{ consultant.last_name }}</a></li>
                        </ul>
                      </li>
                      <li>Branch
                        <ul>
                          <li *ngFor="let branch of branches"><a class="dropdown-item" (click)="setBranch(branch)" data-bs-toggle="modal" data-bs-target="#branchPerformanceModal">{{ branch }}</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>

                <div>
                  <p class="fs-1" style="margin-left: auto;"><strong>Members</strong></p>
                </div>

                <div class="d-flex justify-content-between">
                  <form [formGroup]="form" *ngIf="form" class="row row-cols-lg-auto g-3 align-items-center">
                    <div style="margin-right: 10px;">
                      <input type="text" class="form-control" id="searchField" formControlName="searchField" placeholder="Search">
                    </div>
                    <div>
                      <button id="btnGroupDrop1" type="button" class="btn btn-dark" (click)="getBySearchField()" >
                        Search
                      </button>
                    </div>
                  </form>
                </div>
            </div>
            </mat-card-title>
            <mat-card-content>
              <p style="margin-top: 2rem;"><strong class="fs-4">There are currently no Main Members. </strong></p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  
    <div *ngIf="dataSource && main_members && main_members.length > 0" [ngClass]="{'animated fadeIn': dataSource}">
      <div fxLayout="row" fxLayoutAlign="center start">
        <div fxFlex="100">
          <mat-card style="margin-top: 30px" class="line-top">
            <mat-card-title class="mat-card-title-alt" fxLayout="row" fxLayoutAlign="center">
              <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-between">            
                  <div class="btn-group" role="group" style="margin-right: 10px;"><a class="btn btn-md btn-dark" *ngIf="isConsultant()" (click)="navigateToMainMemberAddForm()">Add Member</a></div>
                  <div class="btn-group" role="group" style="margin-right: 10px;"><a class="btn btn-md btn-dark" href="{{getExcel()}}" target="_blank">Export to Excel</a></div>
                  <div class="btn-group" role="group" style="margin-right: 10px;" *ngIf="!parlour.number_of_sms">
                    <button class="btn btn-md btn-dark" data-bs-toggle="modal" data-bs-target="#sendSMSModal" matTooltip="You do not have any SMSes left"
                    aria-label="You do not have any SMSes left" disabled>Send SMS</button>
                  </div>
                  <div class="btn-group" role="group" style="margin-right: 10px;" *ngIf="parlour.number_of_sms > 0">
                    <button class="btn btn-md btn-dark" data-bs-toggle="modal" data-bs-target="#sendSMSModal">Send SMS</button>
                  </div>
                  <div class="btn-group" role="group" style="margin-right: 10px;">
                    <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Payment Status
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <li><a class="dropdown-item" (click)="getByPaymentPaid()">Paid</a></li>
                      <li><a class="dropdown-item" (click)="getByPaymentUnpaid()">Unpaid</a></li>
                      <li><a class="dropdown-item" (click)="getByPaymentSkipped()">Skipped</a></li>
                    </ul>
                  </div>
                  <div *ngIf="isParlour()" class="btn-group" role="group">
                    <button id="btnGroupDrop2" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Perfomance
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                      <li>{{permission}}
                        <ul>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#parlourPerformanceModal">{{ parlour.parlour_name }}</a></li>
                        </ul>
                      </li>
                      <li>Consultants
                        <ul>
                          <li *ngFor="let consultant of consultants"><a class="dropdown-item" (click)="setConsultant(consultant)" data-bs-toggle="modal" data-bs-target="#consultantPerformanceModal">{{ consultant.first_name }} {{ consultant.last_name }}</a></li>
                        </ul>
                      </li>
                      <li>Branch
                        <ul>
                          <li *ngFor="let branch of branches"><a class="dropdown-item" (click)="setBranch(branch)" data-bs-toggle="modal" data-bs-target="#branchPerformanceModal">{{ branch }}</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>

                <div>
                  <p class="fs-1" style="margin-left: auto;"><strong>Members</strong></p>
                </div>

                <div class="d-flex justify-content-between">
                  <form [formGroup]="form" (ngSubmit)="getBySearchField()" *ngIf="form" class="row row-cols-lg-auto g-3 align-items-center">
                    <div style="margin-right: 10px;">
                      <input type="text" class="form-control" id="searchField" formControlName="searchField" placeholder="Search">
                    </div>
                    <div>
                      <button id="btnGroupDrop1" type="button" class="btn btn-dark" (click)="getBySearchField()" >
                        Search
                      </button>
                    </div>
                  </form>
                </div>
            </div>
            </mat-card-title>
            
            <mat-card-content>
              <div *ngIf="ageLimitExceeded">
              <button style="background-color: #fff; border: none;" (click)="getAgeLimitNotice()"><span class="material-icons"  style="font-size:48px;color:red;">
                notifications
                </span></button>
              </div>
              <mat-paginator
                  [length]="tableSize"
                  [pageSize]="15"
                  [pageSizeOptions]="[15, 30, 50, 100]"
                  (page)="onPaginatorChange($event)"
                  showFirstLastButtons
                  ></mat-paginator>
              <table mat-table #table [dataSource]="dataSource" class="table" style="width: 100%">
                <ng-container matColumnDef="full_name">
                    <th style="padding-right: 35px;" class="fs-6" mat-header-cell *matHeaderCellDef>Full Name</th>
                    <td style="padding-right: 35px;" mat-cell *matCellDef="let main_member"> {{main_member.first_name}} {{main_member.last_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="id_number">
                  <th style="padding-right: 35px;" class="fs-6" mat-header-cell *matHeaderCellDef>ID number</th>
                  <td style="padding-right: 35px;" mat-cell *matCellDef="let main_member"> {{main_member.id_number}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="contact">
                  <th style="padding-left: 40px; padding-right: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef> Contact</th>
                  <td style="padding-left: 40px; padding-right: 10px;" mat-cell *matCellDef="let main_member">
                    {{main_member.contact}} </td>
                </ng-container>

                <ng-container matColumnDef="extended_members">
                  <th style="padding-left: 40px; padding-right: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef> Extended Members</th>
                  <td style="padding-left: 40px; padding-right: 10px;" mat-cell *matCellDef="let main_member">
                    <a class="btn btn-md btn-dark m-2" *ngIf="noExtendedMembers(main_member)" (click)="navigateToExtendedMembersListView(main_member.applicant.id)">View</a>
                    <a class="btn btn-md btn-dark m-2" *ngIf="!noExtendedMembers(main_member)" matTooltip="This plan is only for principal members.">View</a>
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="premium">
                  <th style="padding-left: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef>Premium</th>
                  <td style="padding-left: 10px;" mat-cell *matCellDef="let main_member">
                    {{main_member.applicant.plan.premium}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="policy_num">
                  <th style="padding-left: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef>Policy Num</th>
                  <td style="padding-left: 10px;" mat-cell *matCellDef="let main_member">
                    {{main_member.applicant.policy_num}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="policy">
                  <th style="padding-left: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef>Policy</th>
                  <td style="padding-left: 10px;" mat-cell *matCellDef="let main_member">
                    <a class="btn btn-md btn-dark" href="{{getDocUrl(main_member)}}" target="_blank" style="margin-top: 5px;">Document</a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="other">
                  <th style="padding-left: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef>Other</th>
                  <td style="padding-left: 10px;" mat-cell *matCellDef="let main_member">
                    <a class="btn btn-md btn-dark" href="{{getOtherDocUrl(main_member)}}" target="_blank" [disabled]="main_member.applicant.personal_docs" style="margin-top: 5px;">Files</a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="date_joined">
                  <th style="padding-left: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef>Date Joined</th>
                  <td style="padding-left: 10px;" mat-cell *matCellDef="let main_member">
                    {{main_member.date_joined}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="status">
                  <th style="padding-left: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef>Status</th>
                  <td style="padding-left: 10px;" mat-cell *matCellDef="let main_member">
                    {{main_member.applicant.status}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th style="width: 330px;" class="fs-6" mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let main_member">
                    <a class="btn btn-md btn-dark m-2" (click)="navigateToMainMemberForm(main_member)">Edit</a>
                    <a class="btn btn-md btn-dark m-2" (click)="navigateToPaymentForm(main_member)">Pay now</a>
                    <!-- <dialog-elements-example></dialog-elements-example> -->
                    <button class="btn btn-md btn-dark" (click)="confirmDeleteApplicant(main_member)">Delete</button>
                    <button class="btn btn-md btn-dark" style="display: none;" id="deleteApplicant" data-bs-toggle="modal" data-bs-target="#confirmDeleteApplicantModal"></button>
                    <button class="m-2" style="background-color: #fff; border: none;" *ngIf="main_member.age_limit_exceeded && !main_member.age_limit_exception" class="tooltip-test" title="This member exceeds the age limit set on current plan" (click)="ageLimitException(main_member)"><span class="material-icons"  style="font-size:30px;color:red;">
                      notifications
                      </span></button>
                  </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>
  
  <button id="openModal" class="btn btn-md btn-danger" data-toggle="modal" data-modal="#confirmDeleteApplicantModal" style="display: none;"></button>
  
<!-- Scrollable modal -->
<div class="modal-dialog modal-dialog-scrollable" id="modalShow">
  ...
</div>

<!-- Modal -->
<div class="modal fade" id="confirmDeleteApplicantModal" tabindex="-1" aria-labelledby="confirmDeleteApplicantModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-4" id="confirmDeleteApplicantModalLabel">Delete Member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="">
          <p class="mb-0 ml-3 fs-5" >
            By deleting this member, it wll be moved to the archives.
          </p>
        </div>
        <br />
        <div class="ml-3">
          <p class="fs-5">Do you want to proceed?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="handleDelete(main_member)">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sendSMSModal" tabindex="-1" aria-labelledby="sendSMSModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-4" id="sendSMSModalLabel">Send SMS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="smsForm" *ngIf="smsForm">
          <div class="mb-3">
            <label for="from" class="col-form-label fs-4 d-flex justify-content-center">From:</label>
            <input type="text" class="form-control" id="from" formControlName="from" >
        </div>
        <div class="mb-3">
          <label for="to" class="col-form-label fs-4 d-flex justify-content-center">To:</label>
          <input type="text" class="form-control" id="to" formControlName="to" >
        </div>
        <div class="mb-3">
          <label for="start_date" class="col-form-label fs-4 d-flex justify-content-center">Start Date (Optional):</label>
          <input type="date" class="form-control" id="start_date" formControlName="start_date" >
        </div>
        <div class="mb-3">
          <label for="end_date" class="col-form-label fs-4 d-flex justify-content-center">End Date:</label>
          <input type="date" class="form-control" id="end_date" formControlName="end_date" >
        </div>
          <div class="mb-3">
              <label for="message" class="col-form-label fs-4 d-flex justify-content-center">Message:</label>
              <textarea type="text" class="form-control col-md-6" id="message" formControlName="message" rows=4></textarea>
              <div class="row">
              <div class="d-flex justify-content-start col-md-6" style="margin-top: 1%">
                <mat-hint *ngIf="smsForm.controls.message.value">{{smsForm.controls.message.value.length}} / {{counter(smsForm.controls.message.value.length)}}</mat-hint>
              </div>
              <div class="d-flex justify-content-end col-md-6" *ngIf="message_parts > 1"  style="margin-top: 1%">
                <span class="fa fa-info-circle" style="color:orange;">
                  <mat-hint *ngIf="smsForm.controls.message.value" style="color:orange;"> Number of smses {{message_parts}} </mat-hint>
                </span>
            </div>
              </div>
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <span style="margin-right: auto;" >Number of smses left: {{getNumberOfSMS()}}</span>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="sendSMS()" >Send</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="consultantPerformanceModal" tabindex="-1" aria-labelledby="consultantPerformanceModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-4" id="consultantPerformanceModalLabel">Consultant Review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="performanceForm" *ngIf="performanceForm">
          <div class="mb-3">
            <span style="color: red;position:relative; bottom: -5rem; right: 20px;max-width: 10px">*</span>
            <label for="entity" class="col-form-label fs-4 d-flex justify-content-center">Consultant:</label>
            <input type="text" class="form-control" id="entity" formControlName="entity" [(ngModel)]="consultant_full_name" >
        </div>
        <div class="mb-3">
          <label for="start_date" class="col-form-label fs-4 d-flex justify-content-center">Start Date:</label>
          <input type="date" class="form-control" id="start_date" formControlName="start_date" >
        </div>
        <div class="mb-3">
          <label for="end_date" class="col-form-label fs-4 d-flex justify-content-center">End Date:</label>
          <input type="date" class="form-control" id="end_date" formControlName="end_date" >
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="getByConsultant()" >Search</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="branchPerformanceModal" tabindex="-1" aria-labelledby="branchPerformanceModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-4" id="branchPerformanceModalLabel">Branch Review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="performanceForm" *ngIf="performanceForm">
          <div class="mb-3">
            <span style="color: red;position:relative; bottom: -5rem; right: 20px;max-width: 10px">*</span>
            <label for="entity" class="col-form-label fs-4 d-flex justify-content-center">Branch:</label>
            <input mandetory type="text" class="form-control" id="entity" formControlName="entity" [(ngModel)]="branch">
        </div>
        <div class="mb-3">
          <label for="start_date" class="col-form-label fs-4 d-flex justify-content-center">Start Date:</label>
          <input type="date" class="form-control" id="start_date" formControlName="start_date" >
        </div>

        <div class="mb-3">
          <label for="end_date" class="col-form-label fs-4 d-flex justify-content-center">End Date:</label>
          <input type="date" class="form-control" id="end_date" formControlName="end_date" >
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="getByBranch(branch)" >Search</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="parlourPerformanceModal" tabindex="-1" aria-labelledby="parlourPerformanceModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-4" id="parlourPerformanceModal">Parlour Review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="performanceForm" *ngIf="performanceForm">
        <div class="mb-3">
          <label for="start_date" class="col-form-label fs-4 d-flex justify-content-center">Start Date:</label>
          <input type="date" class="form-control" id="start_date" formControlName="start_date" >
        </div>
        <div class="mb-3">
          <label for="end_date" class="col-form-label fs-4 d-flex justify-content-center">End Date:</label>
          <input type="date" class="form-control" id="end_date" formControlName="end_date" >
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="getByParlour()" >Search</button>
      </div>
    </div>
  </div>
</div>