
<mat-card>
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
        <div fxFlex="100">
          <mat-card style="margin-top: 30px" class="line-top">
            <mat-card-title class="mat-card-title-alt" fxLayout="row" fxLayoutAlign="center">
              <p class="fs-1"><strong>Make Payment</strong></p>
            </mat-card-title>
          </mat-card>
        </div>
      </div>

    <mat-card class="d-flex justify-content-center">
        <form [formGroup]="form" class="col-md-6" *ngIf="form">
            <div class="mb-3">
                <label for="applicabt_id" class="col-form-label fs-4 d-flex justify-content-center">Member:</label>
                <input type="text" class="form-control" id="applicant_id" value="{{main_member.first_name}} {{main_member.last_name}}" [disabled]="true">
            </div>

            <div class="mb-3">
                <label for="premium" class="col-form-label fs-4 d-flex justify-content-center">Premium:</label>
                <input type="text" class="form-control" aria-describedby="basic-addon3" id="premium" formControlName="premium" [disabled]="true">
            </div>

            <div class="mb-3">
                <label for="last_payment" class="col-form-label fs-4 d-flex justify-content-center">Last Payment:</label>
                <input type="text" class="form-control" aria-describedby="basic-addon3" id="last_payment" formControlName="last_payment" [disabled]="true">
            </div>

            <div class="mb-3" style="margin-left: -10px;">
              <button class="btn-dark btn-lg w-100 m-2"  type="button" [routerLink]="['/applicants', main_member.applicant.id, 'invoices']">Invoices</button>
          </div>

            <div class="mb-3">
                <span style="color: red;position:relative;top: 30px;right: 20px;max-width: 10px">*</span>
                <select id="form.controls.payment_type" class="form-control" formControlName="payment_type">
                    <option selected value="">Type of Payment</option>
                    <option value="Cash" >Cash</option>
                    <option value="Card" >Card</option>
                </select>
            </div>

            <div>
                <span style="color: red;position:relative;top: 5.6rem;right: 20px;max-width: 10px">*</span>
                <label for="date_joined" class="col-form-label fs-4 d-flex justify-content-center">Payment Date:</label>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Choose start date</mat-label>
                <input mandatory class="form-control" id="date" formControlName="date" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <span style="color: red;position:relative;top: 2.6rem;right: 20px;max-width: 10px">*</span>
            <mat-form-field appearance="fill">
              <mat-label>Choose end date</mat-label>
              <input class="form-control" id="end_date" formControlName="end_date" matInput [matDatepicker]="picker2">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <div class="col-12 d-flex justify-content-center">
                <button class="btn-dark btn-lg w-50 m-2" type="button" (click)="goBack($event)">Back</button>
                <button class="btn-secondary btn-lg w-50 m-2" type="submit" *ngIf="!form.valid" [disabled]="!form.valid">Pay</button>
                <button class="btn-dark btn-lg w-50 m-2" type="submit" (click)="submit()" *ngIf="form.valid">Pay</button>
                <a id="printInvoice" class="btn btn-md btn-dark" href="" target="_blank" style="display: none;"></a>
            </div>
        </form>
    </mat-card>
  </mat-card>