<mat-card>
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
        <div fxFlex="100">
          <mat-card style="margin-top: 30px" class="line-top">
            <mat-card-title class="mat-card-title-alt" fxLayout="row" fxLayoutAlign="center">
              <p class="fs-1"><strong>Member Form</strong></p>
            </mat-card-title>
          </mat-card>
        </div>
      </div>

    <mat-card class="d-flex justify-content-center">
        <form [formGroup]="form" class="col-md-6" *ngIf="form">

            <div class="col-xs-9 mb-3">
              <span style="color: red;position:relative; bottom: -5rem; right: 20px;max-width: 10px">*</span>
              <label class="col-xs-3 col-form-label fs-4 d-flex justify-content-center">Plan</label>
                <select id="form.controls.plan_id" class="form-control" formControlName="plan_id" [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
                  <option *ngFor="let plan of plans" [ngValue]="plan.id" [disabled]="plan.id == 0 ? true : false">{{plan.name}}</option>
                </select>
            </div>

            <div class="mb-3">
              <span style="color: red;position:relative; bottom: -5rem; right: 20px;max-width: 10px">*</span>
              <label for="first_name" class="col-form-label fs-4 d-flex justify-content-center">First Name:</label>
              <input type="text" placeholder="First Name" mandatory class="form-control" id="first_name" formControlName="first_name">
              <app-input-error [control]="form.controls.first_name"></app-input-error>
            </div>

            <div class="mb-3">
                <span style="color: red;position:relative; bottom: -5rem; right: 20px;max-width: 10px">*</span>
                <label for="last_name" class="col-form-label fs-4 d-flex justify-content-center">Last Name:</label>
                <input type="last_name" mandatory class="form-control" placeholder="Last Name" id="last_name" formControlName="last_name">
                <app-input-error [control]="form.controls.last_name"></app-input-error>
            </div>

            <span style="color: red;position:relative; bottom: -5rem; right: 20px;max-width: 10px">*</span>
            <label for="id_number" class="col-form-label fs-4 d-flex justify-content-center">ID Number:</label>
            <div class="input-group col-sx-9">
                <span class="input-group-text" id="basic-addon3">{{ getAge() }}</span>
                <input type="text" class="form-control" aria-describedby="basic-addon3" placeholder="ID Number" id="id_number" formControlName="id_number">
            </div>
            <div class="mb-3">
              <app-input-error [control]="form.controls.id_number"></app-input-error>
            </div>

            <div class="mb-3">
                <span style="color: red;position:relative; bottom: -5rem; right: 20px;max-width: 10px">*</span>
                <label for="contact" class="col-form-label fs-4 d-flex justify-content-center">Contact Number:</label>
                <input mandatory class="form-control" type="text" placeholder="Contact Number" id="contact" formControlName="contact" />
                <app-input-error [control]="form.controls.contact"></app-input-error>
            </div>

            <fieldset formGroupName="applicant">
              <div class="form-group row">
                  <span style="color: red;position:relative; bottom: -5rem; right: 20px;max-width: 10px">*</span>
                  <label class="col-xs-3 col-form-label fs-4 d-flex justify-content-center">Physical Address:</label>

                  <div class="col-xs-9">
                    <input mandatory class="form-control" type="text"  placeholder="Physical Address" id="form.controls.applicant.controls.address" formControlName="address" />
                  </div>
                  <app-input-error [control]="form.controls.address"></app-input-error>
                </div>
              </fieldset>

            <div class="mt-3">
                <span style="color: red;position:relative; bottom: -5rem; right: 20px;max-width: 10px">*</span>
                <label for="date_joined" class="col-form-label fs-4 d-flex justify-content-center">Date Joined:</label>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input [readonly]="true" mandatory class="form-control" id="form.controls.date_joined" formControlName="date_joined" matInput [matDatepicker]="picker" [disabled]="main_member">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <app-input-error [control]="form.controls.date_joined"></app-input-error>
              </mat-form-field>

            <fieldset formGroupName="applicant">
              <div class="form-group row">
                  <span style="color: red;position:relative; bottom: -5rem; right: 20px;max-width: 10px">*</span>
                  <label class="col-xs-3 col-form-label fs-4 d-flex justify-content-center">Policy Number:</label>
                  <div class="col-xs-9">
                    <input mandatory class="form-control" type="text" placeholder="Policy Number" id="form.controls.applicant.controls.policy_num" formControlName="policy_num" />
                  </div>
                  <app-input-error [control]="form.controls.policy_num"></app-input-error>
                </div>
              </fieldset>

              <fieldset formGroupName="applicant" class="mb-3">
                <div class="form-group row">
                  <label class="col-xs-3 col-form-label fs-4 d-flex justify-content-center">Document:</label>
                  <div class="col-xs-9">
                    <input class="form-control" type="file" id="document" formControlName="document" (change)="onFileSelected($event.target)" accept=".pdf" />
                  </div>
                </div>
              </fieldset>  

              <div class="form-check mb-3">
                <input mandatory class="form-check-input" type="checkbox" id="is_deceased" formControlName="is_deceased" (change)="deceasedModal()" />
                <label for="is_deceased" class="form-check-label">Is member deceased?</label>
              </div>
            <div class="col-12 d-flex justify-content-center">
                <button class="btn-dark btn-lg w-50 m-2" type="submit" (click)="goBack($event)">Back</button>
                <button class="btn-dark btn-lg w-50 m-2" type="submit" (click)="isAgeLimitExceeded()">Submit</button>
            </div>
        </form>
    </mat-card>
  </mat-card>

<button id="ageExceededModal" class="btn btn-md btn-danger" data-bs-toggle="modal" data-bs-target="#ageLimitExceededModal" style="display: none;"></button>

  <!-- Modal -->
<div class="modal fade" id="ageLimitExceededModal" tabindex="-1" aria-labelledby="ageLimitExceededModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-4" id="ageLimitExceededModalLabel">Age limit exceeded</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="">
          <p class="mb-0 ml-3 fs-5">
              Age limit exceeded, do you want to continue adding the member?
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="submit()">Proceed</button>
      </div>
    </div>
  </div>
</div>

<button id="deceasedMember" class="btn btn-md btn-danger" data-bs-toggle="modal" data-bs-target="#makeMemberDeceasedModal" style="display: none;"></button>

  <!-- Modal -->
  <div class="modal fade" id="makeMemberDeceasedModal" tabindex="-1" aria-labelledby="makeMemberDeceasedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-4" id="makeMemberDeceasedModalLabel">Deceased</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="">
            <p class="mb-0 ml-3 fs-5">
                Are you sure the main member is deceased?
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="makeMemberDeceasedFalse()">Close</button>
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="makeMemberDeceasedTrue()">Proceed</button>
        </div>
      </div>
    </div>
  </div>
