.element{
    height: 78vh; /* Would mean 50% of Viewport height */
    width:  80vw; /* Would mean 75% of Viewport width*/
  }
  
  * {
    margin: 0;
    padding:0px;
    font-family: 'Arial Narrow';
  }

    
    input[type=text], input[type=password] {
      width: 50%;
      padding: 20px 180px 20px 20px;
      margin: 20px 360px;
      display: flex;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    
  
    .btn {
      width: 10%;
      margin-left: 50px;
      background-color:black;
      
      
    }
    
    .imgcontainer {
      
      margin:5px;
      padding-left: 40px;
      
    }
    
    
    .container {
      
      padding:5px;
      margin:5px;
    }
    
    
    span.psw {
        float: center;
      padding-top: 10px;
      margin:20px;
    }
    
    
.container-fluid{

  padding: 30px 200px 0px 120px ;
  margin: 40px;
}
.pass{
  padding: 5px 10px 0px 200px;
  margin: 10px 10px 0px 40px;
}