.btn1{
    background-color: black;
    width:60px;
     height :40px;
     
     margin: 0px 0px 2px 0px;
    
    padding: 0px;
}
span.psw {
    float: center;
    padding-top: 0px;
    margin:20px;
  }