* {
    margin: 0;
    padding:0px;
    font-family:'Arial Narrow';
  }
  p{
    margin-left: 20px;
    font-size: 14px;
  }
  
  .features{

    margin:70px;
  
  }
  
  .features h5{
  
    margin-top: 100px;
    line-height: 1px !important;
  }
  
  /*-------------feature ------------*/
  
  .vl {
      border-left: 3px solid black;
      height: 350px;
      position: absolute;
      left:25%;
      margin-left: 2px;
      top: -10;
    }
    .element{
      height: 30vh; /* Would mean 50% of Viewport height */
      width:  70vw; /* Would mean 75% of Viewport width*/
      font-size: 20px;
      
    
    } 