  <mat-card>
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
        <div fxFlex="100">
          <mat-card style="margin-top: 30px" class="line-top">
            <mat-card-title class="mat-card-title-alt" fxLayout="row" fxLayoutAlign="center">
              <p class="fs-1"><strong>{{ consultant.first_name }} {{ consultant.last_name }}</strong></p>
            </mat-card-title>
        
            <mat-card-content>
            <div class="col-sm-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <th width="50%"><strong>First Name:</strong></th>
                            <td>{{consultant.first_name}}</td>
                        </tr>
                        <tr>
                            <th><strong>Last Name:</strong></th>
                            <td>
                                <span>{{ consultant.last_name}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th><strong>Parlour Branch:</strong></th>
                            <td>{{ consultant.branch}}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-horiz">
                    <tbody>
                        <tr>
                            <th><strong>Email Address:</strong></th>
                            <td>{{ consultant.email}}</td>
                        </tr>
                        <tr>
                            <th><strong>Contact Number:</strong></th>
                            <td>{{ consultant.number}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </mat-card-content>
    </mat-card>
</div>
</div>
  </mat-card>