<div class="card" style="margin-bottom: 3%;margin-top: 2%;">
  <div class="card-header sub-header">
      <h2>Parlour Details</h2>
  </div>
  <br>
  <div class="row">
      <div class="col-sm-6">
          <table class="table table-horiz">
              <tbody>
                  <tr>
                      <th width="50%"><strong>Name:</strong></th>
                      <td>{{parlour.parlour_name}}</td>
                  </tr>
                  <tr>
                      <th><strong>Contact Person:</strong></th>
                      <td>
                          <span>{{ parlour.person_name}}</span>
                      </td>
                  </tr>
                  <tr>
                      <th><strong>Email Address:</strong></th>
                      <td>{{ parlour.email}}</td>
                  </tr>
              </tbody>
          </table>
      </div>

      <div class="col-sm-6">
          <table class="table table-horiz">
              <tbody>
                  <tr>
                      <th width="50%"><strong>Contact Number:</strong></th>
                      <td>{{ parlour.number}}</td>
                  </tr>
                  <tr>
                      <th><strong>Date added:</strong></th>
                      <td>{{ parlour.created }}</td>
                  </tr>
                  <tr>
                      <th><strong>State</strong></th>
                      <td>Active</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
<app-plan-list></app-plan-list>