<div class="row banner element">
    <div class="col-md-6 text-left">
        <img src="..//..//..//assets/images/open-source-logo.jpg" width="250px" >
    </div>         

    <div class="header2">
        <h1>Welcome to Open Source Funeral Home Administration</h1>
    </div>
    <div class=" data col-md-6  ">
              
        <p>We provide a wide range of services.</p>
        <p >We offer a software solution to FuneralParlours.</p>
        <p> Our Software Systems ensure smooth business operations.</p>
        
    </div>
    

    <div class="col-md-6 data2 text-center">
          
         <img src="../../assets/images/LogoMakr-1SPJrO.png"  >
    </div>
</div>