<mat-card>
  <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
    <div fxFlex="100">
      <mat-card style="margin-top: 30px" class="line-top">
        <mat-card-title class="mat-card-title-alt">
          <p class="fs-1"><strong>Receive Payment Notifications</strong></p>
        </mat-card-title>
      </mat-card>
    </div>
  </div>

  <mat-card class="d-flex justify-content-start"> 
    <div cass="container col-md-2">
      <div class="mb-3">
        <label for="email" class="fs-4 d-flex justify-content-start mb-2"><strong>Add Email:</strong></label>
        <input type="email" class="form-control mb-2" placeholder="Email" aria-label="email" [(ngModel)]="email">
        
        <a class="mt-4" (click)="addMore()" >Add more</a>
      </div>

      <div id="recipientEmails" class="mb-3">
        <ul id="emailList">
        </ul>
        
      </div>


      <label class="col-form-label fs-4 d-flex justify-content-start"><strong>Select user</strong></label>


      <fieldset id="users">
        <div class="form-check" *ngFor="let consultant of consultants">
          <input class="form-check-input" type="checkbox" value="" id="{{consultant.email}}"/>
          <label class="form-check-label" for="{{consultant.email}}"><strong>{{consultant.first_name}} {{consultant.last_name}}</strong></label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="all" />
          <label class="form-check-label" for="all"><strong>All Consultants</strong></label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="{{user.email}}" />
          <label class="form-check-label" for="{{user.email}}"><strong>{{user.parlour.parlour_name}}</strong></label>
        </div>

      </fieldset>
    </div>

    <div class="col-md-6"></div>

    <div cass="container col-md-2">
      <label class="col-form-label fs-4 d-flex justify-content-start"><strong>Add days and times to receive notifications</strong></label>
      <div class="form-check list-inline list-group-horizontal btn-group" role="group" data-toggle="buttons">
        <label class="btn btn-dark">
          <input type="checkbox" class="form-check list-group-item" id="6">Sun
        </label>
        <label class="btn btn-dark">
          <input type="checkbox" class="form-check list-group-item" id="0">Mon
        </label>
        <label class="btn btn-dark">
          <input type="checkbox" class="form-check list-group-item" id="1">Tues
        </label>
        <label class="btn btn-dark">
          <input type="checkbox" class="form-check list-group-item" id="2">Wed
        </label>
        <label class="btn btn-dark">
          <input type="checkbox" class="form-check list-group-item" id="3">Thur
        </label>
        <label class="btn btn-dark">
          <input type="checkbox" class="form-check list-group-item" id="4">Fri
        </label>
        <label class="btn btn-dark">
          <input type="checkbox" class="form-check list-group-item" id="5">Sat
        </label>
      </div>
      <label class="col-form-label fs-6 d-flex justify-content-start"><strong>Add Time</strong></label>
      <div class="mb-3">
        <input type="time" id="timeToSend" name="appt" min="00:00" max="23:59">
      </div>
      <div>
        <button type="button" class="btn btn-dark" (click)="submit()">Send manually</button>
        <button type="button" class="btn btn-dark m-2" (click)="submit()">Submit</button>
      </div>
      </div>
  </mat-card>
</mat-card>
