/*-----------------------Contacts----------------*/
.element
{
  height: 72vh;
  width:  100vw; 
}

.container{
    
    background: #fff;
    border-radius: 14px;
    padding-right: 40px;;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 150%;;
    
    
  }
  .container .content{
    display: flex;
    align-items:left;
    margin: 40px;
    padding-left: 150px;
    
  }
  .container .content .left-side{
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    margin-top: 15px;
    position: relative;
    color: black;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 200%;
    width: 2px;
    right: 30px;
    top: 100%;
    transform: translateY(-50%);
    background: black;
  }
  .content .left-side .details{
    margin: 10px;
    text-align:center;
  }
  .input-box{
    padding:2px;
    margin: 2px;
    

  }
  .right-side{

    margin: 5px;
    padding: 5px;

  }
  .conts{
    padding: 7px;
    margin: 0px;
  }
  .btn1{

    background-color: black;
  }
  /*------------->>>>>>>>Contacts<<<<<<<<-----------*/