<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="user">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center">
        <li>
          <a class="" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="" href="#"></a>
        </li>
      </ul>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">      
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.first_name }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" (click)="handleLogout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!user">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center">
        <li>
          <a class="" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="" href="#"></a>
        </li>
      </ul>
      <div class="m-2">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li>
            <a id="Logout" class="btn btn-dark" [routerLink]="['/login']" routerLinkActive="active align-content-top" style="height: 40px; margin-right: 10px">
              <p class="fs-5" style="margin-bottom: 45px;">Login</p>
            </a>  
          </li>
          <li>
            <a id="signup" class="btn btn-dark " [routerLink]="['/signup']" routerLinkActive="active" style="height: 40px;">
                <p class="fs-5">SignUp</p>
            </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
