<div class="alert alert-danger" *ngIf=" control && !control.valid && (control.value || control.dirty)">
  <div *ngIf="control.errors.required"> Field is required</div>
  <div *ngIf="control.errors.validateSAIDNumber"> ID number is invalid</div>
  <div *ngIf="control.errors.maxlength"> Max length of {{control.errors.maxlength.requiredLength}} exceeded</div>
  <div *ngIf="control.errors.minlength"> Min length of {{control.errors.minlength.requiredLength}} </div>
  <div *ngIf="control.errors.validateEmail"> Not a valid email</div>
  <div *ngIf="control.errors.email"> Not a valid email</div>
  <div *ngIf="control.errors.validateDate"> Enter a valid date</div>
  <div *ngIf="control.errors.validateConfirmPassword"> Does not match password.</div>
  <div *ngIf="control.errors.validateMSISDN">Please enter a valid telephone number.</div>
  <div *ngIf="control.errors.confirm_password">Passwords do not match</div>
</div>


