
<mat-card>
    <div *ngIf="loadingState == 'complete' && main_members.length == 0" class="-y-sm">
      <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
        <div fxFlex="100">
          <mat-card style="margin-top: 30px" class="line-top">
            <mat-card-title class="mat-card-title-alt" fxLayout="row" fxLayoutAlign="center">
              <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-center">
                  <p class="fs-1" style="margin-left: auto;"><strong>Members</strong></p>
                </div>
              </div>
            </mat-card-title>
            <mat-card-content>
              <p style="margin-top: 2rem;"><strong class="fs-4">There are currently no Main Members. </strong></p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  
    <div *ngIf="dataSource && main_members.length > 0" [ngClass]="{'animated fadeIn': dataSource}">
      <div fxLayout="row" fxLayoutAlign="center start">
        <div fxFlex="100">
          <mat-card style="margin-top: 30px" class="line-top">
            <mat-card-title class="mat-card-title-alt" fxLayout="row" fxLayoutAlign="center">
              <div class="d-flex justify-content-between">
                <button class="btn btn-dark" type="submit" (click)="goBack($event)">Back</button>
                <div>
                  <a class="btn btn-md btn-dark" *ngIf="false">Add Members</a>
                </div>
                <div class="d-flex justify-content-center">
                  <p class="fs-1" style="margin-left: auto;"><strong>Members</strong></p>
                </div>
                <div class="d-flex justify-content-between">
                  <form [formGroup]="form" *ngIf="true" class="row row-cols-lg-auto g-3 align-items-center">
                    <div style="margin-right: 10px;">
                      <input type="date" class="form-control" id="searchField" formControlName="searchField" value="" placeholder="Search">
                    </div>
                    <div>
                      <button id="btnGroupDrop1" type="button" class="btn btn-dark" (click)="getBySearchField()" >
                        Search
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </mat-card-title>

            <mat-card-content>
              <mat-paginator
                  [length]="tableSize"
                  [pageSize]="15"
                  [pageSizeOptions]="[15, 30, 50, 100]"
                  (page)="onPaginatorChange($event)"
                  showFirstLastButtons
                  ></mat-paginator>
              <table mat-table #table [dataSource]="dataSource" class="table" style="width: 100%">
                <ng-container matColumnDef="id_number">
                  <th style="padding-right: 35px;" class="fs-6" mat-header-cell *matHeaderCellDef>ID number</th>
                  <td style="padding-right: 35px;" mat-cell *matCellDef="let main_member"> {{main_member.id_number}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="full_name">
                  <th style="padding-right: 35px;" class="fs-6" mat-header-cell *matHeaderCellDef>Full Name</th>
                  <td style="padding-right: 35px;" mat-cell *matCellDef="let main_member"> {{main_member.first_name}} {{main_member.last_name}}
                  </td>
              </ng-container>

                <ng-container matColumnDef="contact">
                  <th style="padding-left: 40px; padding-right: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef> Contact</th>
                  <td style="padding-left: 40px; padding-right: 10px;" mat-cell *matCellDef="let main_member">
                    {{main_member.contact}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                  <th style="padding-left: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef>Date</th>
                  <td style="padding-left: 10px;" mat-cell *matCellDef="let main_member">
                    {{main_member.date_joined}}
                  </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>

  <button id="openModal" class="btn btn-md btn-danger" data-bs-toggle="modal" data-bs-target="#registeredMembersModal" style="display: none;"></button>

<!-- Scrollable modal -->
<div class="modal-dialog modal-dialog-scrollable" id="modalShow">
  ...
</div>

<!-- Modal -->
<div class="modal fade" id="registeredMembersModal" tabindex="-1" aria-labelledby="registeredMembersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-4" id="registeredMembersModalLabel">Members</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <p class="mb-0 ml-3 fs-5" >
            Total Number of Members:
          </p>
          <p class="mb-0 ml-3 fs-5" >
            {{ original }} Members:
          </p>
        </div>
        <br />
        <br />
        <div class="row">
          <p class="mb-0 ml-3 fs-5" >
            Members that were added on {{ period }}:
          </p>
          <p class="mb-0 ml-3 fs-5" >
            {{ months }}
          </p>
        </div>
        <br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
