 <section class="element">
    <div class="container">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            
            <div class="topic lh-1">Send us a Message</div>
          </div>
          <div class="phone details">
          
            <div class="topic lh-1 ">Phone</div>
            <div class="text-one ">079 013 7285</div>
           
          </div>
          <div class="email details">
          
            <div class="topic lh-1 ">Email</div>
            <div class="text-two lh-1">info@osource.co.za</div>
          </div>
        </div>
        <div class="right-side">
          <p class=" lh-1  text-center">If you have any types of quries related to our services,<br> Please send us a message .</p>
        <form [formGroup]="form" *ngIf="form">
          <div class="mb-3">
            <input type="text" mandatory class="form-control" placeholder="Full Name" id="full_name" formControlName="full_name">
          </div>
          <div class="mb-3">
            <input type="email" mandatory class="form-control" placeholder="Email Address" id="email" formControlName="email">
          </div>
          <div class="mb-3">
              <textarea name="message" rows="5" cols="40" class="conts" placeholder="Please type here!!!"></textarea>
            </div>
          <div class="button">
            <button type="button" class="btn btn-dark btn-lg" (click)="submit()">Send</button>
          </div>
        </form>
      </div>
      </div>
      </div>
  </section>