
<mat-card>
    <div *ngIf="loadingState == 'complete' && plans.length == 0" class="-y-sm">
      <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
        <div fxFlex="100">
          <mat-card style="margin-top: 30px">
            <mat-card-title class="mat-card-title-alt" fxLayout="row" fxLayoutAlign="center">
              <div style="margin-right: 90%; margin-bottom: -30px;">
                <a class="btn btn-md btn-dark" (click)="navigateToPlainForm($event)" *ngIf="isParlour()">Add Plan</a>
              </div>
              <p class="fs-1"><strong>Parlour Plans</strong></p>
            </mat-card-title>
            <mat-card-content>
              <p style="margin-top: 2rem;"><strong class="fs-4">There are currently no registered plans. </strong></p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  
    <div *ngIf="dataSource && plans.length > 0" [ngClass]="{'animated fadeIn': dataSource}">
      <div fxLayout="row" fxLayoutAlign="center start">
        <div fxFlex="100">
          <mat-card style="margin-top: 30px">
            <mat-card-title class="mat-card-title-alt" fxLayout="row" fxLayoutAlign="center">
              <div style="margin-right: 90%; margin-bottom: -30px;">
                <a class="btn btn-md btn-dark" (click)="navigateToPlainForm($event)" *ngIf="isParlour()">Add Plan</a>
              </div>
              <div>
                <p class="fs-1"><strong>Parlour Plans</strong></p>
              </div>
            </mat-card-title>
  
            <mat-card-content>
              <mat-paginator
                  [length]="tableSize"
                  [pageSize]="15"
                  [pageSizeOptions]="[15, 30, 50, 100]"
                  (page)="onPaginatorChange($event)"
                  showFirstLastButtons
                  ></mat-paginator>
              <table mat-table #table [dataSource]="dataSource" class="table" style="width: 100%">
                <ng-container matColumnDef="plan">
                    <th style="padding-right: 35px;" class="fs-5" mat-header-cell *matHeaderCellDef> Plan Name</th>
                    <td style="padding-right: 35px;" mat-cell *matCellDef="let plan"> {{plan.plan}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="cover">
                  <th style="padding-right: 35px;" class="fs-5" mat-header-cell *matHeaderCellDef> Cover</th>
                  <td style="padding-right: 35px;" mat-cell *matCellDef="let plan"> {{plan.cover}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="premium">
                  <th style="padding-left: 40px; padding-right: 10px;" class="fs-5" mat-header-cell *matHeaderCellDef>Premium</th>
                  <td style="padding-left: 40px; padding-right: 10px;" mat-cell *matCellDef="let plan">
                    {{plan.premium}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th style="width: 330px;" class="fs-5" mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let plan">
                    <a class="btn btn-md btn-dark m-2" (click)="navigateToPlanForm(plan)">Edit</a>
                    <a class="btn btn-md btn-dark" (click)="confirmDeletePlan(plan)">Delete</a>
                    <button class="btn btn-md btn-dark" style="display: none;" id="deletePlan" data-bs-toggle="modal"
                    data-bs-target="#confirmDeletePlanModal"></button>
                  </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>


    <!-- Modal -->
<div class="modal fade" id="confirmDeletePlanModal" tabindex="-1" aria-labelledby="confirmDeletePlanModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-4" id="confirmDeletePlanModalLabel" *ngIf="plan">Delete Plan: {{ plan.plan }}</h5>
        <h5 class="modal-title fs-4" id="confirmDeletePlanModalLabel" *ngIf="!plan">Delete Plan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="">
          <p class="mb-0 ml-3 fs-5" >
            You are about to delete this plan.
          </p>
        </div>
        <br />
        <div class="ml-3">
          <p class="fs-5">Do you want to proceed?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="handleDelete(plan)">Delete</button>
      </div>
    </div>
  </div>
</div>
