ul {
    background: black;
    height: 70px;
    align-content: center;
    color: #fff
}
li.inner {
    border-right-color: #c0c2c3;
    border-right-style: solid;
    border-right-width: thin;
}
li a {
    color: #fff;
}