<ul class="nav nav-pills nav-fill" style="height: 70px;align-content: center;">
  <li class="nav-item" style="align-content: center;">
    <a class="nav-link btn btn-md" aria-current="page" style="width: 235px;" (click)="redirectToMainMembersView()">Applicants</a>
  </li>
  <li class="nav-item" style="align-content: center;">
    <a class="nav-link btn btn-md" style="width: 235px;" (click)="redirectToPlansView()">Plans</a>
  </li>
  <li class="nav-item" style="align-content: center;">
    <a class="nav-link btn btn-md" style="width: 235px;">Link</a>
  </li>
  <li class="nav-item" style="align-content: center;">
    <a class="nav-link btn btn-md" style="width: 235px;">Disabled</a>
  </li>
</ul>