
<mat-card>
    <div *ngIf="loadingState == 'complete' && main_members.length == 0" class="-y-sm">
      <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
        <div fxFlex="100">
          <mat-card style="margin-top: 30px" class="line-top">
            <mat-card-title class="mat-card-title-alt" fxLayout="row" fxLayoutAlign="center">
              <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-between">            
                  <div class="btn-group" role="group" style="margin-right: 10px;"><a class="btn btn-md btn-dark" *ngIf="false">Add Member</a></div>
                  <div class="btn-group" role="group" style="margin-right: 10px;"><a class="btn btn-md btn-dark" (click)="getCVSFile($event)" *ngIf="false">Export to Excel</a></div>
                  <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Payment Status
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <li><a class="dropdown-item" (click)="getByPaymentPaid()">Paid</a></li>
                      <li><a class="dropdown-item" (click)="getByPaymentUnpaid()">Unpaid</a></li>
                      <li><a class="dropdown-item" (click)="getByPaymentSkipped()">Skipped</a></li>
                      <li><a class="dropdown-item" (click)="getByPaymentLapsed()">Lapsed</a></li>
                    </ul>
                  </div>
                </div>
                <div>
                  <p class="fs-1" style="margin-left: auto;"><strong>Archived Members</strong></p>
                </div>
                <div class="d-flex justify-content-between">
                  <form [formGroup]="form" (ngSubmit)="getBySearchField()" *ngIf="form" class="row row-cols-lg-auto g-3 align-items-center">
                    <div style="margin-right: 10px;">
                      <input type="text" class="form-control" id="searchField" formControlName="searchField" placeholder="Search">
                    </div>
                    <div>
                      <button id="btnGroupDrop1" type="button" class="btn btn-dark" (click)="getBySearchField()" >
                        Search
                      </button>
                    </div>
                  </form>
                </div>
            </div>
            </mat-card-title>
            <mat-card-content>
              <p style="margin-top: 2rem;"><strong class="fs-4">There are currently no archived main members. </strong></p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  
    <div *ngIf="dataSource && main_members.length > 0" [ngClass]="{'animated fadeIn': dataSource}">
      <div fxLayout="row" fxLayoutAlign="center start">
        <div fxFlex="100">
          <mat-card style="margin-top: 30px" class="line-top">
            <mat-card-title class="mat-card-title-alt" fxLayout="row" fxLayoutAlign="center">
              <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-between">            
                  <div class="btn-group" role="group" style="margin-right: 10px;"><a class="btn btn-md btn-dark" *ngIf="false">Add Member</a></div>
                  <div class="btn-group" role="group" style="margin-right: 10px;"><a class="btn btn-md btn-dark" (click)="getCVSFile($event)" *ngIf="false">Export to Excel</a></div>
                  <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Payment Status
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <li><a class="dropdown-item" (click)="getByPaymentPaid()">Paid</a></li>
                      <li><a class="dropdown-item" (click)="getByPaymentUnpaid()">Unpaid</a></li>
                      <li><a class="dropdown-item" (click)="getByPaymentSkipped()">Skipped</a></li>
                      <li><a class="dropdown-item" (click)="getByPaymentLapsed()">Lapsed</a></li>
                    </ul>
                  </div>
                </div>
                <div>
                  <p class="fs-1" style="margin-left: auto;"><strong>Archived Members</strong></p>
                </div>
                <div class="d-flex justify-content-between">
                  <form [formGroup]="form" (ngSubmit)="getBySearchField()" *ngIf="form" class="row row-cols-lg-auto g-3 align-items-center">
                    <div style="margin-right: 10px;">
                      <input type="text" class="form-control" id="searchField" formControlName="searchField" placeholder="Search">
                    </div>
                    <div>
                      <button id="btnGroupDrop1" type="button" class="btn btn-dark" (click)="getBySearchField()" >
                        Search
                      </button>
                    </div>
                  </form>
                </div>
            </div>
            </mat-card-title>

            <mat-card-content>
              <mat-paginator
                  [length]="tableSize"
                  [pageSize]="15"
                  [pageSizeOptions]="[15, 30, 50, 100]"
                  (page)="onPaginatorChange($event)"
                  showFirstLastButtons
                  ></mat-paginator>
              <table mat-table #table [dataSource]="dataSource" class="table" style="width: 100%">
                <ng-container matColumnDef="full_name">
                    <th style="padding-right: 35px;" class="fs-6" mat-header-cell *matHeaderCellDef>Full Name</th>
                    <td style="padding-right: 35px;" mat-cell *matCellDef="let main_member"> {{main_member.first_name}} {{main_member.last_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="id_number">
                  <th style="padding-right: 35px;" class="fs-6" mat-header-cell *matHeaderCellDef>ID number</th>
                  <td style="padding-right: 35px;" mat-cell *matCellDef="let main_member"> {{main_member.id_number}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="contact">
                  <th style="padding-left: 40px; padding-right: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef> Contact</th>
                  <td style="padding-left: 40px; padding-right: 10px;" mat-cell *matCellDef="let main_member">
                    {{main_member.contact}} </td>
                </ng-container>

                <ng-container matColumnDef="extended_members">
                  <th style="padding-left: 40px; padding-right: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef> Extended Members</th>
                  <td style="padding-left: 40px; padding-right: 10px;" mat-cell *matCellDef="let main_member">
                    <a class="btn btn-md btn-dark m-2" (click)="navigateToExtendedMembersListView(main_member.applicant.id)">View</a>
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="premium">
                  <th style="padding-left: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef>Premium</th>
                  <td style="padding-left: 10px;" mat-cell *matCellDef="let main_member">
                    {{main_member.premium}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="policy_num">
                  <th style="padding-left: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef>Policy Num</th>
                  <td style="padding-left: 10px;" mat-cell *matCellDef="let main_member">
                    {{main_member.applicant.policy_num}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="policy">
                  <th style="padding-left: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef>Policy</th>
                  <td style="padding-left: 10px;" mat-cell *matCellDef="let main_member">
                    <a class="btn btn-md btn-dark" href="{{main_member.applicant.document}}" target="_blank" style="margin-top: 5px;">Document</a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="date_joined">
                  <th style="padding-left: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef>Date Joined</th>
                  <td style="padding-left: 10px;" mat-cell *matCellDef="let main_member">
                    {{main_member.date_joined}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="status">
                  <th style="padding-left: 10px;" class="fs-6" mat-header-cell *matHeaderCellDef>Status</th>
                  <td style="padding-left: 10px;" mat-cell *matCellDef="let main_member">
                    {{main_member.applicant.status}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th style="width: 330px;padding-left: 5%;" class="fs-6" mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let main_member">
                    <a class="btn btn-md btn-dark m-2" (click)="navigateToPaymentForm(main_member)">Pay now</a>
                    <!-- <dialog-elements-example></dialog-elements-example> -->
                    <button class="btn btn-md btn-dark m-2" (click)="confirmRestoreApplicant(main_member)">Restore</button>
                    <button class="btn btn-md btn-dark" style="display: none;" id="restoreApplicant" data-bs-toggle="modal" data-bs-target="#confirmRestoreApplicantModal"></button>
                    <button class="btn btn-md btn-dark" (click)="confirmDeleteApplicant(main_member)">Delete</button>
                    <img class="align-middle m-2" src="{{openService.getClientUrl()}}/assets/images/coffin.jpeg" height="30" width="30" alt="Deceased image" *ngIf="main_member.is_deceased" />
                    <button class="btn btn-md btn-dark" style="display: none;" id="deleteApplicant" data-bs-toggle="modal" data-bs-target="#confirmDeleteApplicantModal"></button>
                  </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>
  
<!-- Scrollable modal -->
<div class="modal-dialog modal-dialog-scrollable" id="modalShow">
  ...
</div>

<!-- Modal -->
<div class="modal fade" id="confirmRestoreApplicantModal" tabindex="-1" aria-labelledby="confirmRestoreApplicantModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-4" id="confirmRestoreApplicantModalLabel" *ngIf="main_member">Restore Member: {{main_member.first_name}} {{main_member.last_name}}</h5>
        <h5 class="modal-title fs-4" id="confirmRestoreApplicantModalLabel" *ngIf="!main_member">Restore Member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="">
          <p class="mb-0 ml-3 fs-5" >
            By restoring this member, it will be active on the system.
          </p>
        </div>
        <br />
        <div class="ml-3">
          <p class="fs-5">Do you want to proceed?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="handleRestore(main_member)">Restore</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmDeleteApplicantModal" tabindex="-1" aria-labelledby="confirmDeleteApplicantModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-4" id="confirmDeleteApplicantModalLabel">Delete Member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="">
          <p class="mb-0 ml-3 fs-5" >
            By deleting this member, the member will be deleted permanently.
          </p>
        </div>
        <br />
        <div class="ml-3">
          <p class="fs-5">Do you want to proceed?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="handleDelete(main_member)">Delete</button>
      </div>
    </div>
  </div>
</div>