
<form class="info text-center element">
  <div id="emailHelp" class="form-text">RESET YOUR PASSWORD</div>
    <div id="emailHelp" class="form-text">Enter your user account's verified email address and we will send you a password reset link.</div>
    <div class="reminder">
      <input type="text" class="input-text" id="email" placeholder="Please enter email address.." required>
      <button onclick="myFunction()" type="submit" class="btn btn-primary">Submit</button>
    </div>        
  
  </form>

      <script>
            function myFunction() {
              alert("Please check your emails and We'll never share your email with anyone else. ");
            }
      </script>

Enter your user account's verified email address and we will send you a password reset link.
 
  