
<mat-card>
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
        <div fxFlex="100">
            <mat-card style="margin-top: 30px" class="line-top">
                <mat-card-title class="mat-card-title-alt" fxLayout="row" fxLayoutAlign="center">
                    <p class="fs-1"><strong>
                        Extended Members Form</strong></p>
                </mat-card-title>
            </mat-card>
        </div>
    </div>

    <mat-card class="d-flex justify-content-center">
        <form [formGroup]="form" class="col-md-6" *ngIf="form">
            <div class="mb-3">
                <span style="color: red;position:relative; bottom: -5rem; right: 20px;max-width: 10px">*</span>
                <label for="first_name" class="col-form-label fs-4 d-flex justify-content-center">First Name:</label>
                <input type="text" placeholder="First Name" mandatory class="form-control" id="first_name" formControlName="first_name">
            </div>

            <div class="mb-3">
                <span style="color: red;position:relative; bottom: -5rem; right: 20px;max-width: 10px">*</span>
                <label for="last_name" class="col-form-label fs-4 d-flex justify-content-center">Last Name:</label>
                <input type="last_name" mandatory class="form-control" placeholder="Last Name" id="last_name" formControlName="last_name">
            </div>

            <label for="id_number" class="col-form-label fs-4 d-flex justify-content-center">ID Number:</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon3">{{ getAge() }}</span>
                <input type="text" class="form-control" aria-describedby="basic-addon3" placeholder="ID Number" id="id_number" formControlName="id_number">
            </div>
            <div class="mb-3">
                <app-input-error [control]="form.controls.id_number"></app-input-error>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input class="form-control" id="date_of_birth" formControlName="date_of_birth" matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2" id="dob_picker"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <div class="mb-3">
                <label for="number" class="col-form-label fs-4 d-flex justify-content-center">Contact Number:</label>
                <input type="text" class="form-control" placeholder="Number" id="number" formControlName="number">
            </div>

            <fieldset class="mb-3">
                <div class="form-group row">
                    <span style="color: red;position:relative; bottom: -5rem; right: 20px;max-width: 10px">*</span>
                    <label class="col-xs-3 col-form-label fs-4 d-flex justify-content-center">Type of Member:</label>
                    <div class="col-xs-9">
                        <select id="form.controls.type" class="form-control" formControlName="type" [(ngModel)]='typeSelected' (ngModelChange)='onTypeSelected($event)'>
                            <option selected="selected" value="" disabled>Select Member Type</option>
                            <option [ngValue]="4" >Spouse</option>
                            <option [ngValue]="1" >Dependent</option>
                            <option [ngValue]="2" >Extended Member</option>
                            <option [ngValue]="3" >Additional Extended Member</option>
                        </select>
                        <app-input-error [control]="form.controls.type"></app-input-error>
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-3">
                <div class="form-group row">
                    <span style="color: red;position:relative; bottom: -5rem; right: 20px;max-width: 10px">*</span>
                    <label class="col-xs-3 col-form-label fs-4 d-flex justify-content-center">Relationship to Main Member:</label>
                    <div class="col-xs-9">
                        <select id="form.controls.relation_to_main_member" class="form-control" formControlName="relation_to_main_member" [(ngModel)]='relationshipSelected' (ngModelChange)='onRelationshipSelected($event)'>
                            <option selected="selected" value="" >Relationship to Main Member</option>
                            <option [ngValue]="12" >Child</option>
                            <option [ngValue]="1" >Parent</option>
                            <option [ngValue]="2" >Brother</option>
                            <option [ngValue]="3" >Sister</option>
                            <option [ngValue]="4" >Nephew</option>
                            <option [ngValue]="5" >Niece</option>
                            <option [ngValue]="6" >Aunt</option>
                            <option [ngValue]="7" >Uncle</option>
                            <option [ngValue]="8" >Grand Parent</option>
                            <option [ngValue]="9" >Wife</option>
                            <option [ngValue]="10" >Husband</option>
                            <option [ngValue]="11" >Cousin</option>
                        </select>
                        <app-input-error [control]="form.controls.relation_to_main_member"></app-input-error>
                    </div>
                </div>
            </fieldset>

            <div class="mb-3">
                <label for="waiting_period" class="col-form-label fs-4 d-flex justify-content-center">Waiting Period:</label>
                <input type="number" max="12" mandatory class="form-control" placeholder="Waiting Period" id="waiting_period" formControlName="waiting_period">
                <app-input-error [control]="form.controls.waiting_period"></app-input-error>
            </div>

            <div>
                <span style="color: red;position:relative; bottom: -5rem; right: 20px;max-width: 10px">*</span>
                <label for="date_joined" class="col-form-label fs-4 d-flex justify-content-center">Date Joined:</label>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input [readonly]="true" mandatory class="form-control" id="date_joined" formControlName="date_joined" matInput [matDatepicker]="picker" [disabled]="extended_member">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div class="form-check mb-3">
                <input mandatory class="form-check-input" type="checkbox" id="is_deceased" formControlName="is_deceased" (change)="deceasedModal()" />
                <label for="is_deceased" class="form-check-label">Is member deceased?</label>
              </div>
        
            <div class="col-12 d-flex justify-content-center">
                <button class="btn-dark btn-lg w-50 m-2" type="submit" (click)="goBack($event)">Back</button>
                <button id="submitBtn" class="btn-dark btn-lg w-50 m-2" type="submit" (click)="isAgeLimitExceeded()">Submit</button>
            </div>
        </form>
    </mat-card>
  </mat-card>

  <button id="ageExceededModal" class="btn btn-md btn-danger" data-bs-toggle="modal" data-bs-target="#ageLimitExceededModal" style="display: none;"></button>

  <!-- Modal -->
<div class="modal fade" id="ageLimitExceededModal" tabindex="-1" aria-labelledby="ageLimitExceededModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-4" id="ageLimitExceededModalLabel">Age limit exceeded</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="">
            <p class="mb-0 ml-3 fs-5">
                Age limit exceeded, do you want to conntinue adding the member?
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="submit()">Proceed</button>
        </div>
      </div>
    </div>
  </div>

  <button id="deceasedMember" class="btn btn-md btn-danger" data-bs-toggle="modal" data-bs-target="#makeMemberDeceasedModal" style="display: none;"></button>
  
  <!-- Modal -->
  <div class="modal fade" id="makeMemberDeceasedModal" tabindex="-1" aria-labelledby="makeMemberDeceasedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-4" id="makeMemberDeceasedModalLabel">Deceased</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="">
            <p class="mb-0 ml-3 fs-5">
                Are you sure the main member is deceased?
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="makeMemberDeceasedFalse()">Close</button>
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="makeMemberDeceasedTrue()">Proceed</button>
        </div>
      </div>
    </div>
  </div>
