
  /*-------footer-------*/
  .footer{
  
    padding-top: 1px;
    background-color:red;
    color: white !important;
    
  }
  
  .footer small{
  
    font-size: 14px;
    padding:2px;
    padding-bottom: 1px;
    
   
  }
  .link{
    font-size: 14px;
    margin: 10px;
    padding: 1px;
    color:#fff;
    text-align: right;

  }
  .links{
    font-size: 14px;
    padding:0;
    margin:5px;
    padding-bottom: 1px;
    color:#fff;
    display:block;
    text-align: left;

  }
   #year{
     color:white;

   }
   .foo a{
     color:blue;
     font-weight: bolder;

   }
  